html, body, h1, h2, h3, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

body {
	font-family: 'Codystar', cursive;
	background: #ccc;
}

ul {
	list-style: none;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

.grid {
	display: block;
	width: 500px;
	height: 500px;
	background: black;
	border: 5px	dotted green;
}

h1 {
	font-size: 50px;
	text-align: center;
}

.grid > li {
	height: 18px;
	width: 18px;
	border: 1px solid black;
	float: left;
	transition: border 0.5s;
	border-radius: 0px;
	position: relative;
}

.grid .life {
	border: 1px solid lightgreen;
}

.grid > .apple {
	background: red;
	border-radius: 10px;
}
.grid > .green.apple {
	background: darkgreen;
}

.grid > .snake {
	background: green;
}

#snake {
	float: left;
}

.game-window {
	margin: auto;
	width: 800px;
}

.dashboard > li {
	border: 5px	dotted green;
	background: black;
	margin: 15px;
	color: lightgreen;
	text-align: center;
	padding: 10px;
}

.score {
	width: 150px;
	height: 100px;
	display: block;
}

.score h2 {
	padding: 10px 0px;
	font-size: 30px;
}

.score h3 {
	font-size: 24px;
}

.dashboard {
	float: right;
	width: 210px;
}

.game-over {
	padding-top: 40px;
	height: 163px;
}

.head:after {
	content: "";
	position: absolute;
	top: 0px;
	width: 0;
	height: 0;
	border-radius: 5px;
}

.head.left:after {
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-right: 18px solid green;
	height: 8px;
}

.head.right:after {
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 18px solid green;
	height: 8px;
}

.head.up:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 18px solid green;
	width: 8px;
}

.head.down:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 18px solid green;
	width: 8px;
}

.grid > .head {
	background: black;
}

footer {
	width: 720px;
	margin: auto;
	font-family: sans-serif;
}
